.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form input {
  width: 20rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: none;
  margin: 1rem 0;
}

.login-form input:focus {
  outline: 2px solid blueviolet;
}

.login-form button {
  padding: 0.2rem 2rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.login-form button:hover {
  outline: 2px solid blueviolet;
}

.new-account {
  margin-top: 2rem;
  font-size: 0.9rem;
}
